<template name="index">
  <div class="page lists-show">
    <nav class="js-title-nav">
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
      </div>

      <h1 class="js-edit-list title-page"><span class="title-wrapper">Favorite Scientists</span> <span class="count-list">25</span></h1>

      <div class="nav-group right">
        <div class="nav-item options-mobile">
          <select class="list-edit">
            <option disabled selected>Select an action</option>
            {{#if userId}}
              <option value="public">Make Public</option>
            {{else}}
              <option value="private">Make Private</option>
            {{/if}}
            <option value="delete">Delete</option>
          </select>
          <span class="icon-cog"></span>
        </div>
        <div class="options-web">
          <a class="js-toggle-list-privacy nav-item">
            {{#if userId}}
              <span class="icon-lock" title="Make list public"></span>
            {{else}}
              <span class="icon-unlock" title="Make list private"></span>
            {{/if}}
          </a>

          <a class="js-delete-list nav-item">
            <span class="icon-trash" title="Delete list"></span>
          </a>
        </div>
      </div>
    </nav>

    <div class="content-scrollable list-items">
    </div>
  </div>
</template>
