<template name="home">
  <div class="page lists-show">
    <nav class="js-title-nav">
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
      </div>

      <h1 class="title-page"><span class="title-wrapper">Home</span></h1>

      <div class="nav-group right">
        <div class="nav-item options-mobile">
          <select class="list-edit">
            <option disabled selected>Select an action</option>
            <option value="public">Action One</option>
            <option value="private">Action Two</option>
            <option value="delete">Action Three</option>
          </select>
          <span class="icon-cog"></span>
        </div>
        <div class="options-web">
          <a class="nav-item">
              <span class="icon-lock" title="Action One"></span>
          </a>
          <a class="nav-item">
              <span class="icon-unlock" title="Action Two"></span>
          </a>
          <a class="nav-item">
            <span class="icon-trash" title="Action Three"></span>
          </a>
        </div>
      </div>
    </nav>

    <div class="content-scrollable list-items">
    </div>
  </div>
</template>
